.table-loading {
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.2s ease;
}


body {
    overflow-x: hidden;
}

.sidebar {
    width: 250px;
    transition: width 0.3s;
    overflow-x: hidden;
    border-right: 1px solid var(--bs-border-color);
}

    .sidebar.collapsed {
        width: 70px;
    }

    .sidebar .nav-link {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px 20px;
        white-space: nowrap;
        color: var(--bs-body-color);
    }

        .sidebar .nav-link i {
            font-size: 18px;
            min-width: 24px;
            text-align: center;
        }

        /*.sidebar .nav-link.active {
        background-color: var(--bs-primary);
        color: white;
        border-radius: 6px;
    }*/

        .sidebar .nav-link:hover {
            background: rgba(0,0,0,0.05);
            color: var(--bs-body-color);
        }

    /* hide text when collapsed */

    .sidebar.collapsed .sidebar-text {
        display: none;
    }

    /* center icons */

    .sidebar.collapsed .nav-link {
        justify-content: center;
    }

    /* hide submenu when collapsed */

    .sidebar.collapsed .submenu {
        display: none;
    }

.sidebar-header {
    padding: 5px;
    font-weight: bold;
}

.main {
    min-height: 100vh;
    background: var(--bs-body-bg);
}

.stat-card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-icon {
    font-size: 32px;
}

.sidebar-nav .nav-link {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.submenu .nav-link {
    font-size: 0.9rem;
    padding-left: 40px;
}

    .submenu .nav-link:hover {
        background: rgba(0,0,0,0.05);
        border-radius: 6px;
    }

.sidebar .nav-link.active {
    background: var(--bs-primary);
    color: white;
    border-radius: 6px;
}
