@{
    ViewData["Title"] = "Dashboard";
}

<div class="row g-3">

    <div class="col-md-3">
        <div class="card stat-card">

            <div class="card-body">

                <div>
                    <h6>Total Employees</h6>
                    <h3>@ViewBag.TotalEmployees</h3>
                </div>

                <i class="bi bi-people stat-icon text-primary"></i>

            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div class="card stat-card">

            <div class="card-body">

                <div>
                    <h6>Departments</h6>
                    <h3>@ViewBag.TotalDepartments</h3>
                </div>

                <i class="bi bi-diagram-3 stat-icon text-success"></i>

            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div class="card stat-card">

            <div class="card-body">

                <div>
                    <h6>On Leave</h6>
                    <h3>6</h3>
                </div>

                <i class="bi bi-calendar-x stat-icon text-warning"></i>

            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div class="card stat-card">

            <div class="card-body">

                <div>
                    <h6>Payroll</h6>
                    <h3>$48K</h3>
                </div>

                <i class="bi bi-cash-stack stat-icon text-danger"></i>

            </div>

        </div>
    </div>

</div>

<!-- Chart -->
<div class="card mt-4">

    <div class="card-header">
        Employee Growth
    </div>

    <div class="card-body">

        <canvas id="employeeChart"></canvas>

    </div>

</div>

@section Scripts {
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
}
