@model EnterpriseEmployeeManagement.Models.Department

<div class="d-none" data-modal-title="Department Details (@Model.Name)"></div>
<div class="row">

    <div class="col-md-6">
        <strong>Name</strong>
        <p>@Model.Name</p>
    </div>

    <div class="col-md-6">
        <strong>Description</strong>
        <p>@Model.Description</p>
    </div>

</div>