@using EnterpriseEmployeeManagement.ViewModels
@model DepartmentFormViewModel

<div class="d-none" data-modal-title="Edit Department (@Model.Name)"></div>

<form method="post" asp-action="EditModal" data-ajax-form>
    <div class="alert alert-danger d-none" id="formError"></div>
    <input hidden asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Last Name</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">
        Update
    </button>

</form>