@model EnterpriseEmployeeManagement.ViewModels.EmployeeFormViewModel
@{
    ViewBag.Title = "Create Employee";
}
<div class="container mt-4">

    <h2>Create Employee</h2>

    <form asp-action="Create">

        <div class="mb-3">
            <label>First Name</label>
            <input asp-for="FirstName" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Last Name</label>
            <input asp-for="LastName" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Department</label>
            <select asp-for="DepartmentId" asp-items="Model.Departments" class="form-select">
            </select>
        </div>

        <div class="mb-3">
            <label>Position</label>
            <input asp-for="Position" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Hire Date</label>
            <input asp-for="HireDate" type="date" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Active</label>
            <input asp-for="IsActive" type="checkbox" />
        </div>

        <button type="submit" class="btn btn-success">Save</button>

        <a asp-action="Index" class="btn btn-secondary">Back</a>

    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}